
<html>

  <body>
    <h1>Type in Item</h1>

    <form action='/checkout' method="post">
      <label for="item">Item: </label><input id="item" type="text" name="item">
       <input type="submit" value="Submit">
     </form>
   </body>
 </html>
